/* NAVBAR */
nav {
  height: 135px;
  background-color: black;
  width: 100%;
}
nav div {
  margin-left: 90px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 135px;
}
#home-nav a {
  all: unset;
  color: hotpink;
  font-size: 20px;
  padding: 20px;
}
#home-nav a:hover {
  transform: scale(1.02);
  text-shadow: 0 0 15px #0ff;
}
#glass-nav {
  color: rgb(111, 169, 54);
}
#name-nav {
  color: rgb(247, 177, 97, 0.76);
}
#alc-nav {
  color: rgba(37, 144, 158, 0.76);
}
body {
  background-color: rgb(27, 27, 27);
  margin: 0;
  z-index: -5;
}
#drink-logo {
  width: 200px;
  margin-top: 20px;
  z-index: 2;
  align-self: center;
}
.search-home-logo {
  width: 75px;
  margin-top: 30px;
  margin-left: 30px;
  position: absolute;
}

#main-title {
  color: rgb(253, 236, 236);
  text-shadow: 0 0 15px #0ff;
  font-size: 100px;
  margin: 15px auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  z-index: 2;
  align-self: center;
}
#main-title:hover {
  transform: scale(1.25);
  text-shadow: 0 0 25px #0ff;
}
header {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(60, 60, 60));
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -2;
}

#under-head {
  color: rgb(253, 236, 236);
  font-size: 25px;
  font-style: italic;
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 40px;
  z-index: 2;
  align-self: center;
}
#options h2 {
  font-weight: normal;
  font-size: 30px;
}
#options {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 25px;
}
.search-by {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  align-self: center;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  margin: 25px 25px;
  border-radius: 5%;
  padding: 25px;
}
button {
  width: 70%;
  align-self: center;
  height: 50%;
  background-color: rgb(247, 177, 97, 0);
  border: none;
  padding: 30px;
}
.arrow {
  height: 75px;
  width: 100px;
}
.arrow:hover {
  transform: scale(1.5);
}
#drink-name {
  background: radial-gradient(rgb(247, 177, 97, 0.76), #f59f59);
  flex: 1 1 70px;
  text-align: center;
}
#alc-search {
  background: radial-gradient(
    rgba(141, 217, 245, 0.76),
    rgba(37, 144, 158, 0.76)
  );
  flex: 1 1 70px;
  text-align: center;
}
#random-drink {
  background: radial-gradient(rgba(226, 98, 136, 0.76), #e27398);
  flex: 1 1 70px;
  text-align: center;
}
#drink-glass {
  background: radial-gradient(rgb(153, 226, 80), #5ce277);
  flex: 1 1 70px;
  text-align: center;
}

#drink-glass:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 5px rgb(255, 255, 255);
}
#drink-name:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 5px rgb(255, 255, 255);
}
#random-drink:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 5px rgb(255, 255, 255);
}
#alc-search:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 5px rgb(255, 255, 255);
}
.generate-btn {
  background: radial-gradient(rgb(247, 177, 97, 0.76), #f59f59);
  color: rgb(253, 236, 236);
  justify-self: center;
  width: 400px;
  font-size: 30px;
  padding: 15px;
  height: auto;
  border-radius: 15px;
}
.generate-btn:hover {
  transform: scale(1.03);
}
.result-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.results h2 {
  font-size: 40px;
  margin-top: 7px;
  text-align: center;
}
.result-img {
  width: 100%;
  height: auto;
  border: black solid 3px;
}

.answer-section {
  background: radial-gradient(rgba(226, 98, 136, 0.76), #e27398);
  padding: 40px;
  margin: 30px;
  max-width: 25%;
  flex: 1 1 25%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.results {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.answer-section p {
  background: radial-gradient(rgb(153, 226, 80), #5ce277);
  padding: 15px;
  font-size: 20px;
  margin: 30px 0;
  border: black solid 3px;
}

.answer-section section {
  background: radial-gradient(
    rgba(114, 202, 235, 0.76),
    rgba(37, 144, 158, 0.76)
  );
  font-size: 20px;
  padding: 15px;
  border: black solid 3px;
}
#rand-results {
  width: 700px;
  justify-self: center;
}
.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form-section #value-location {
  width: 80%;
}
form {
  color: rgb(253, 236, 236);
  display: flex;
  background: radial-gradient(
    rgba(141, 217, 245, 0.76),
    rgba(37, 144, 158, 0.76)
  );
  border-radius: 15px;
  flex-wrap: wrap;
  padding: 30px;
  height: 200px;
  width: 35%;

  justify-content: center;
  align-items: center;
}
#glass-form {
  background: radial-gradient(rgba(226, 98, 136, 0.76), #e27398);
  height: auto;
  color: black;
  display: flex;
  justify-self: center;
  font-size: 40px;
  flex-direction: column;
  padding: 30px;
}
.form-section div {
  display: block;
  margin: 20px;
}
form p {
  padding: 30px;
}
#value-location {
  font-size: 20px;
  padding: 15px;
  width: 400px;
  height: 40px;
  margin-right: 10px;
}
#request {
  font-size: 30px;
  padding: 15px;
  height: 75px;
  border-radius: 15px;
  width: 200px;
}

#glass-form ul {
  list-style-type: none;
}
#glass-list .radio {
  height: 30px;
  width: 30px;
}

.intro-section {
  color: rgb(253, 236, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.intro-section p {
  background-color: rgba(253, 236, 236, 0.483);
  color: black;
  padding: 15px;
  border-radius: 13px;
  width: 50%;
  text-align: center;
  font-size: 23px;
}
.intro-section h2 {
  font-size: 70px;
  font-weight: 900;
  margin: 10px;
  color: rgb(253, 236, 236);
  text-shadow: 0 0 45px #0ff;
  text-align: center;
}

footer {
  color: white;
  background-color: black;
  min-height: 95vh;
  height: auto;
  margin-bottom: 0;

  padding: 30px;
}
